:root {
  --chessboardSide: 640px;
  --chessboard-modal-height: 200px;
}

#app {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #202020;
}

.total-turns {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 50px;
}